# Section 1: Setup

In [1]:
#Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
#Read CSV resources as Pandas dataframes
path_results = os.path.join('Resources','Study_results.csv')
path_metadata = os.path.join('Resources','Mouse_metadata.csv')

dfr = pd.read_csv(path_results)
dfm = pd.read_csv(path_metadata)

In [4]:
#Check the contents of Results DataFrame
dfr.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [6]:
#Review the counts and data types of Results DataFrame
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 59.3+ KB

In [5]:
#Check the contents of Metadata DataFrame
dfm.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
#Review the counts and data types of Metadata DataFrame
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mouse ID      249 non-null    object
 1   Drug Regimen  249 non-null    object
 2   Sex           249 non-null    object
 3   Age_months    249 non-null    int64
 4   Weight (g)    249 non-null    int64
dtypes: int64(2), object(3)
memory usage: 9.9+ KB

In [9]:
#Review Unique observations for Mouse ID 
dfr['Mouse ID'].value_counts()

g989    13
i177    10
m269    10
l700    10
e662    10
        ..
d133     1
l872     1
x226     1
v199     1
b447     1
Name: Mouse ID, Length: 249, dtype: int64

In [14]:
#Some Mouse IDs have multiple entries, with duplicated Timepoint observations
dfr.loc[dfr['Mouse ID']=='g989']

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
107      g989          0           45.000000                 0
137      g989          0           45.000000                 0
329      g989          5           48.786801                 0
360      g989          5           47.570392                 0
620      g989         10           51.745156                 0
681      g989         10           49.880528                 0
815      g989         15           51.325852                 1
869      g989         15           53.442020                 0
950      g989         20           55.326122                 1
1111     g989         20           54.657650                 1
1195     g989         25           56.045564                 1
1380     g989         30           59.082294                 1
1592     g989         35           62.570880                 2

In [29]:
#We will drop the duplicates in the results DataFrame
dfr.drop_duplicates(['Mouse ID','Timepoint'],inplace=True)
#Check on our example Mouse ID g989
dfr.loc[dfr['Mouse ID']=='g989']

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
107      g989          0           45.000000                 0
329      g989          5           48.786801                 0
620      g989         10           51.745156                 0
815      g989         15           51.325852                 1
950      g989         20           55.326122                 1
1195     g989         25           56.045564                 1
1380     g989         30           59.082294                 1
1592     g989         35           62.570880                 2

In [30]:
#Now we will add the Metadata based on Mouse ID to create our working DataFrame
df = dfr.merge(dfm,how='outer', on='Mouse ID')
df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [33]:
#Check counts and datatypes of working DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1888 entries, 0 to 1887
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1888 non-null   object
 1   Timepoint           1888 non-null   int64
 2   Tumor Volume (mm3)  1888 non-null   float64
 3   Metastatic Sites    1888 non-null   int64
 4   Drug Regimen        1888 non-null   object
 5   Sex                 1888 non-null   object
 6   Age_months          1888 non-null   int64
 7   Weight (g)          1888 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 132.8+ KB